# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/

# PyInstaller
build/
dist/
release/
*.manifest
croppa-windows-amd64.spec
croppa-linux-amd64.spec

# Croppa outputs / local PDFs
*.pdf
left.pdf
right.pdf
out.pdf

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
